@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="nav-buttons">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <span class="nav-link text-light">Hello, @User.Identity?.Name!</span>
        </li>
        <li class="nav-item">
            <form asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">
                <button type="submit" class="nav-button">Logout</button>
            </form>
        </li>
        @if (User.IsInRole("Admin"))
        {
            <li class="nav-item">
                <a class="nav-button" asp-controller="Admin" asp-action="Index">Admin Panel</a>
            </li>
        }
    }
    else
    {
        <li class="nav-item">
            <a class="nav-button" asp-controller="Account" asp-action="Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-button" asp-controller="Account" asp-action="Login">Login</a>
        </li>
    }
</ul>