@{
    ViewData["Title"] = "About Us";
}

<div class="about-container text-center">
    <h2>About Us</h2>
    <p class="text-black">
        Weatherescu is a weather web app built as a personal learning project.
    </p>
</div>
