@model IEnumerable<weatherescu_test_2.Models.City>

<h2 class="text-center">Cities</h2>

<!-- Table to display cities -->
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Country</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var city in Model)
        {
                <tr>
                    <td>@city.Name</td>
                    <td>@city.Country</td>
                </tr>
        }
    </tbody>
</table>
