<div class="favorites-container" id="favorites">
    <h2>Favorites</h2>
    <ul class="favorites-list"></ul>

    <!-- Forecast container -->
    <div class="favorites-forecast" id="favorites-forecast">
        <h3 class="city-name"></h3>
        <p class="temperature"></p>
        <img src="" alt="Weather Icon" class="icon">
        <p class="weather-description"></p>
        <div class="hourly-forecast"></div>
    </div>
</div>
