@{
    ViewData["Title"] = "Weatherescu";
}

<div class="main-container" id="home">
    <div class="weather-container">
        <input type="text" placeholder="Enter city name" class="search-bar">
        <div class="weather-details">
            <h2 class="city-name"></h2>
            <p class="temperature"></p>
            <img src="" alt="Weather Icon" class="icon">
            <p class="weather-description"></p>
            <button class="add-favorite">Add to Favorites</button>
        </div>
        <div class="hourly-forecast">
            <!-- Hourly forecast will be appended here -->
        </div>
    </div>
</div>
